//
   Created by emanuelziga on 26/8/16.

|{% extends "layout/base_layout.html" %}

| {% load i18n static %}

| {% block extrastyle %}
|   <link rel="stylesheet" type="text/css" href="{% static "layout/css/landing-page.css" %}" />
| {% endblock %}


| {% block content %}


.intro-header
    .cotainer
        div.row
            div.col-lg-12
                .intro-message
                    h1 Bienvenido
                    h3 Elija una opcion para iniciar
                    hr.intro-divider
                    ul.list-inline.intro-social-buttons
                        li: a.btn.btn-default.btn-lg.WidthHome(href="admin/orders/order/"): span.network-name Ordenes
                        li: a.btn.btn-default.btn-lg.WidthHome(href="admin/bills/bill/"): span.network-name Facturas
                        li: a.btn.btn-default.btn-lg.WidthHome(href="admin/requests/request/"): span.network-name Pedidos
                    hr.intro-divider
                    ul.list-inline.intro-social-buttons
                        li: a.btn.btn-default.btn-lg.WidthHome(href="admin/clients/client/"): span.network-name Clientes
                        li: a.btn.btn-default.btn-lg.WidthHome(href="admin/projects/project/"): span.network-name Proyectos
                        li: a.btn.btn-default.btn-lg.WidthHome(href="admin/activities/activity/"): span.network-name Actividades
                    hr.intro-divider
                    ul.list-inline.intro-social-buttons
                        li: a.btn.btn-default.btn-lg.WidthHome(href="admin/products/product/"): span.network-name Productos
                        li: a.btn.btn-default.btn-lg.WidthHome(href="/admin/products/productdepartment/"): span.network-name Familias
                        li: a.btn.btn-default.btn-lg.WidthHome(href="/admin/products/productsubdepartment/"): span.network-name Sub-familias
                    hr.intro-divider
                    ul.list-inline.intro-social-buttons
                        li: a.btn.btn-default.btn-lg.WidthHome(href="/report/create/"): span.network-name Reportes

                    hr.intro-divider


| {% endblock %}