
.module > table > tbody >tr > th{
    width: 30%;
}

.module h2, .module caption, .inline-group h2{
    background: dimgray;
}

div.breadcrumbs{
    height: 30px;
    line-height: 40px;
}

.submit-row a.deletelink{
    height: 15px;
}

