doctype html
html(lang="en")
    head
        title = order.id

        {% load humanize %}

        link(rel="stylesheet" href="/static/css/reset.css")

        link(rel="stylesheet" href="/static/css/bootstrapMod.css")
        link(rel="stylesheet" href="/static/css/orderpdf.css")


    body(style="font-family:helvetica;")

        .col-xs-12
            hr(style="border-top: 1px solid #ccc;")
            img(src= "/media/img/coto.png" style="width:300px;height:auto;margin-bottom:0px;")

        .col-xs-12
            hr(style="border-top: 1px solid #ccc;")
            h4(style="text-align: center; vertical-align: middle;font-size:13px") ORDEN DE COMPRA DE PRODUCTOS
            hr(style="border-top: 1px solid #ccc;")
        .col-xs-6
            h6 <b>Orden de compra #</b> {{order.id}}
            h6 <b>Proyecto #</b> {{order.order_project.id}} - {{order.order_project.project_name}}
            h6 <b>Actividad:</b> {{order.order_activity.activity_name}}

        .col-xs-6
            h6 <b>Fecha :</b> &nbsp {{order.order_date | date:"SHORT_DATE_FORMAT"}}
            h6 <b>Entrega:</b> {{order.order_deliver_date | date:"SHORT_DATE_FORMAT"}}

        .col-xs-12
            form.producttable
                //tabla
                .form-group.row
                    .col-xs-12(style="font-size:11px")
                        table.table.table-bordered
                            thead: tr
                                th Código
                                th Descripción
                                th Cantidad
                                //th Unidad
                                th P.Unitario
                                th Descuento
                                th Subtotal
                                //th Observaciones
                            tbody
                                {% for detail in details %}
                                tr
                                    td(style="width:9%") {{detail.order_detail_product_code}}
                                    td {{detail.order_detail_description}}
                                    td(style="width:9%") {{detail.order_detail_amount}}
                                    //td(style="width:5%") {{detail.order_detail_unit}}
                                    td(style="width:14%") ₡ {{detail.order_detail_price | floatformat:"2"|intcomma}}
                                    td(style="width:6%") {{detail.order_detail_discount}}%
                                    td(style="width:16%") ₡ {{detail.order_detail_total | floatformat:"2"|intcomma}}
                                   // td -
                                {% endfor %}

        .col-xs-12
            .col-xs-4.wopadding.pull-left
                hr(style="border-top: 1px solid #000;")
                span(style="font-weight: bold") Firma Responsable

            .col-xs-5.wopadding.pull-right
                .col-xs-12.wopadding.pull-right
                    span SubTotal:
                    span.pull-right ₡ {{order.order_subtotal | floatformat:"2"|intcomma}}
                //.col-xs-12.wopadding.pull-right
                //    span Descuento:
                //    span.pull-right ₡0
                .col-xs-12.wopadding.pull-right
                    span IV:
                    span.pull-right ₡ {{order.order_iv | floatformat:"2"|intcomma}}

                .col-xs-12.wopadding.pull-right
                    hr(style="border-top: 1px solid #ccc;")
                    span.spanbold Total:
                    span.spanbold.pull-right(style='margin-right:0px;') ₡ {{order.order_total | floatformat:"2"|intcomma}}
                    hr(style="border-top: 1px solid #ccc;")

