<div id="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

        <li class="active">
            <a href="/admin/"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>Inicio </a>
        </li>
        <li>
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-file-pdf-o fa-stack-1x "></i></span> Ordenes<span class="fa fa-angle-down allign-right"></span></a>
            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                <li><a href="/admin/orders/order/"><span class="fa-stack fa-lg pull-left"><i class="fa fa-align-justify fa-stack-1x "></i></span>Todas las Ordenes</a></li>
                <li class="new_order_li"><a href="/admin/orders/order/create/"><span class="fa-stack fa-lg pull-left"><i class="fa fa-plus fa-stack-1x "></i></span>Nueva Orden</a></li>
            </ul>


        </li>
        <li >
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-file-text-o fa-stack-1x "></i></span> Facturas<span class="fa fa-angle-down allign-right"></span></a>
               <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                <li><a href="/admin/bills/bill/"><span class="fa-stack fa-lg pull-left"><i class="fa fa-align-justify fa-stack-1x "></i></span>Todas las Facturas</a></li>
                <li class="new_bill_li"><a href="/admin/bills/bill/create/"><span class="fa-stack fa-lg pull-left"><i class="fa fa-plus fa-stack-1x "></i></span>Crear Factura</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Inicio </a>
        </li>
        <li>
        <li>
            <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-plus fa-stack-1x "></i></span>Events</a>
        </li>
        <li>
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-youtube-play fa-stack-1x "></i></span>About</a>
        </li>
        <li>
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>Services</a>
        </li>
        <li>
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>Contact</a>
        </li>
    </ul>
</div>
        <!-- /#sidebar-wrapper -->