
.main-page-cont
    H3 Nueva orden de compra
    form
        //primera fila
        .form-group.row

            .col-lg-1.col-md-2
                span Fecha:
            .col-sm-3.no-padding-left
                input.form-control(type='date',)

            .col-lg-1.col-md-2.no-padding-left
                span Proveedor:
            .col-sm-3.no-padding-left
                select.form-control
                    option 1
                    option 2
                    option 3
        //segunda fila
        .form-group.row

            .col-lg-1.col-md-2
                span Proyecto:
            .col-sm-3.no-padding-left
                select.form-control
                    option 1
                    option 2
                    option 3

            .col-lg-1.col-md-2.no-padding-left
                span Actividad:
            .col-sm-3.no-padding-left
                select.form-control
                    option 1
                    option 2
                    option 3
        //tercea fila
        .form-group.row

            .col-lg-1.col-md-2
                span Total:
            .col-sm-3.no-padding-left
                input.form-control(type='text')

